[
    {dmt_client, [
        {transport_opts, #{
            recv_timeout => 60000,
            connect_timeout => 1000
        }},
        {woody_event_handlers, [
            {scoper_woody_event_handler, #{
                event_handler_opts => #{
                    formatter_opts => #{
                        max_length => 1000
                    }
                }
            }}
        ]},
        {max_cache_size, #{
            elements => 20,
            % 50Mb
            memory => 52428800
        }},
        {cache_server_call_timeout, 10000},
        {service_urls, #{
            'Repository' => <<"dmt:8022/v1/domain/repository">>,
            'RepositoryClient' => <<"dmt:8022/v1/domain/repository_client">>
        }}
    ]}
].
